{
  "name": "plantillas",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/core.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"estructura/css/core.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "estructura/lib/core.lib.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"lib/min/core.lib.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "estructura/css/core.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/core.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "estructura/sass/core.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"estructura/css/core.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "estructura/js/core.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/core.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass",
      "sass/assets",
      "estructura/lib",
      "assets",
      "assets/lib",
      "assets/lib/min",
      "assets/css",
      "estructura/css",
      "estructura",
      "estructura/sass",
      "estructura/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "estructura/lib/core.lib.js",
      "imports": [
        "estructura/lib/assets/jquery/v3.3.1/jquery-3.3.1.js"
      ]
    },
    {
      "path": "estructura/sass/core.scss",
      "imports": [
        "estructura/sass/assets/main.scss"
      ]
    },
    {
      "path": "estructura/sass/assets/bootstrap/bootstrap-grid.scss",
      "imports": [
        "estructura/sass/assets/bootstrap/_functions.scss",
        "estructura/sass/assets/bootstrap/_variables.scss",
        "estructura/sass/assets/bootstrap/mixins/_breakpoints.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid-framework.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid.scss",
        "estructura/sass/assets/bootstrap/_grid.scss",
        "estructura/sass/assets/bootstrap/utilities/_display.scss",
        "estructura/sass/assets/bootstrap/utilities/_flex.scss"
      ]
    },
    {
      "path": "estructura/sass/assets/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "estructura/sass/assets/bootstrap/_functions.scss",
        "estructura/sass/assets/bootstrap/_variables.scss",
        "estructura/sass/assets/bootstrap/_mixins.scss",
        "estructura/sass/assets/bootstrap/_reboot.scss",
        "estructura/sass/assets/bootstrap/mixins/_breakpoints.scss",
        "estructura/sass/assets/bootstrap/mixins/_hover.scss",
        "estructura/sass/assets/bootstrap/mixins/_image.scss",
        "estructura/sass/assets/bootstrap/mixins/_badge.scss",
        "estructura/sass/assets/bootstrap/mixins/_resize.scss",
        "estructura/sass/assets/bootstrap/mixins/_screen-reader.scss",
        "estructura/sass/assets/bootstrap/mixins/_size.scss",
        "estructura/sass/assets/bootstrap/mixins/_reset-text.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-emphasis.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-hide.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-truncate.scss",
        "estructura/sass/assets/bootstrap/mixins/_visibility.scss",
        "estructura/sass/assets/bootstrap/mixins/_alert.scss",
        "estructura/sass/assets/bootstrap/mixins/_buttons.scss",
        "estructura/sass/assets/bootstrap/mixins/_caret.scss",
        "estructura/sass/assets/bootstrap/mixins/_pagination.scss",
        "estructura/sass/assets/bootstrap/mixins/_lists.scss",
        "estructura/sass/assets/bootstrap/mixins/_list-group.scss",
        "estructura/sass/assets/bootstrap/mixins/_nav-divider.scss",
        "estructura/sass/assets/bootstrap/mixins/_forms.scss",
        "estructura/sass/assets/bootstrap/mixins/_table-row.scss",
        "estructura/sass/assets/bootstrap/mixins/_background-variant.scss",
        "estructura/sass/assets/bootstrap/mixins/_border-radius.scss",
        "estructura/sass/assets/bootstrap/mixins/_box-shadow.scss",
        "estructura/sass/assets/bootstrap/mixins/_gradients.scss",
        "estructura/sass/assets/bootstrap/mixins/_transition.scss",
        "estructura/sass/assets/bootstrap/mixins/_clearfix.scss",
        "estructura/sass/assets/bootstrap/mixins/_navbar-align.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid-framework.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid.scss",
        "estructura/sass/assets/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "estructura/sass/assets/bootstrap/bootstrap.scss",
      "imports": [
        "estructura/sass/assets/bootstrap/_functions.scss",
        "estructura/sass/assets/bootstrap/_variables.scss",
        "estructura/sass/assets/bootstrap/_mixins.scss",
        "estructura/sass/assets/bootstrap/_root.scss",
        "estructura/sass/assets/bootstrap/_reboot.scss",
        "estructura/sass/assets/bootstrap/_type.scss",
        "estructura/sass/assets/bootstrap/_images.scss",
        "estructura/sass/assets/bootstrap/_code.scss",
        "estructura/sass/assets/bootstrap/_grid.scss",
        "estructura/sass/assets/bootstrap/_tables.scss",
        "estructura/sass/assets/bootstrap/_forms.scss",
        "estructura/sass/assets/bootstrap/_buttons.scss",
        "estructura/sass/assets/bootstrap/_transitions.scss",
        "estructura/sass/assets/bootstrap/_dropdown.scss",
        "estructura/sass/assets/bootstrap/_button-group.scss",
        "estructura/sass/assets/bootstrap/_input-group.scss",
        "estructura/sass/assets/bootstrap/_custom-forms.scss",
        "estructura/sass/assets/bootstrap/_nav.scss",
        "estructura/sass/assets/bootstrap/_navbar.scss",
        "estructura/sass/assets/bootstrap/_card.scss",
        "estructura/sass/assets/bootstrap/_breadcrumb.scss",
        "estructura/sass/assets/bootstrap/_pagination.scss",
        "estructura/sass/assets/bootstrap/_badge.scss",
        "estructura/sass/assets/bootstrap/_jumbotron.scss",
        "estructura/sass/assets/bootstrap/_alert.scss",
        "estructura/sass/assets/bootstrap/_progress.scss",
        "estructura/sass/assets/bootstrap/_media.scss",
        "estructura/sass/assets/bootstrap/_list-group.scss",
        "estructura/sass/assets/bootstrap/_close.scss",
        "estructura/sass/assets/bootstrap/_modal.scss",
        "estructura/sass/assets/bootstrap/_tooltip.scss",
        "estructura/sass/assets/bootstrap/_popover.scss",
        "estructura/sass/assets/bootstrap/_carousel.scss",
        "estructura/sass/assets/bootstrap/_utilities.scss",
        "estructura/sass/assets/bootstrap/_print.scss",
        "estructura/sass/assets/bootstrap/mixins/_breakpoints.scss",
        "estructura/sass/assets/bootstrap/mixins/_hover.scss",
        "estructura/sass/assets/bootstrap/mixins/_image.scss",
        "estructura/sass/assets/bootstrap/mixins/_badge.scss",
        "estructura/sass/assets/bootstrap/mixins/_resize.scss",
        "estructura/sass/assets/bootstrap/mixins/_screen-reader.scss",
        "estructura/sass/assets/bootstrap/mixins/_size.scss",
        "estructura/sass/assets/bootstrap/mixins/_reset-text.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-emphasis.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-hide.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-truncate.scss",
        "estructura/sass/assets/bootstrap/mixins/_visibility.scss",
        "estructura/sass/assets/bootstrap/mixins/_alert.scss",
        "estructura/sass/assets/bootstrap/mixins/_buttons.scss",
        "estructura/sass/assets/bootstrap/mixins/_caret.scss",
        "estructura/sass/assets/bootstrap/mixins/_pagination.scss",
        "estructura/sass/assets/bootstrap/mixins/_lists.scss",
        "estructura/sass/assets/bootstrap/mixins/_list-group.scss",
        "estructura/sass/assets/bootstrap/mixins/_nav-divider.scss",
        "estructura/sass/assets/bootstrap/mixins/_forms.scss",
        "estructura/sass/assets/bootstrap/mixins/_table-row.scss",
        "estructura/sass/assets/bootstrap/mixins/_background-variant.scss",
        "estructura/sass/assets/bootstrap/mixins/_border-radius.scss",
        "estructura/sass/assets/bootstrap/mixins/_box-shadow.scss",
        "estructura/sass/assets/bootstrap/mixins/_gradients.scss",
        "estructura/sass/assets/bootstrap/mixins/_transition.scss",
        "estructura/sass/assets/bootstrap/mixins/_clearfix.scss",
        "estructura/sass/assets/bootstrap/mixins/_navbar-align.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid-framework.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid.scss",
        "estructura/sass/assets/bootstrap/mixins/_float.scss",
        "estructura/sass/assets/bootstrap/utilities/_align.scss",
        "estructura/sass/assets/bootstrap/utilities/_background.scss",
        "estructura/sass/assets/bootstrap/utilities/_borders.scss",
        "estructura/sass/assets/bootstrap/utilities/_clearfix.scss",
        "estructura/sass/assets/bootstrap/utilities/_display.scss",
        "estructura/sass/assets/bootstrap/utilities/_embed.scss",
        "estructura/sass/assets/bootstrap/utilities/_flex.scss",
        "estructura/sass/assets/bootstrap/utilities/_float.scss",
        "estructura/sass/assets/bootstrap/utilities/_position.scss",
        "estructura/sass/assets/bootstrap/utilities/_screenreaders.scss",
        "estructura/sass/assets/bootstrap/utilities/_sizing.scss",
        "estructura/sass/assets/bootstrap/utilities/_spacing.scss",
        "estructura/sass/assets/bootstrap/utilities/_text.scss",
        "estructura/sass/assets/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "estructura/sass/assets/bootstrap/_mixins.scss",
      "imports": [
        "estructura/sass/assets/bootstrap/mixins/_breakpoints.scss",
        "estructura/sass/assets/bootstrap/mixins/_hover.scss",
        "estructura/sass/assets/bootstrap/mixins/_image.scss",
        "estructura/sass/assets/bootstrap/mixins/_badge.scss",
        "estructura/sass/assets/bootstrap/mixins/_resize.scss",
        "estructura/sass/assets/bootstrap/mixins/_screen-reader.scss",
        "estructura/sass/assets/bootstrap/mixins/_size.scss",
        "estructura/sass/assets/bootstrap/mixins/_reset-text.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-emphasis.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-hide.scss",
        "estructura/sass/assets/bootstrap/mixins/_text-truncate.scss",
        "estructura/sass/assets/bootstrap/mixins/_visibility.scss",
        "estructura/sass/assets/bootstrap/mixins/_alert.scss",
        "estructura/sass/assets/bootstrap/mixins/_buttons.scss",
        "estructura/sass/assets/bootstrap/mixins/_caret.scss",
        "estructura/sass/assets/bootstrap/mixins/_pagination.scss",
        "estructura/sass/assets/bootstrap/mixins/_lists.scss",
        "estructura/sass/assets/bootstrap/mixins/_list-group.scss",
        "estructura/sass/assets/bootstrap/mixins/_nav-divider.scss",
        "estructura/sass/assets/bootstrap/mixins/_forms.scss",
        "estructura/sass/assets/bootstrap/mixins/_table-row.scss",
        "estructura/sass/assets/bootstrap/mixins/_background-variant.scss",
        "estructura/sass/assets/bootstrap/mixins/_border-radius.scss",
        "estructura/sass/assets/bootstrap/mixins/_box-shadow.scss",
        "estructura/sass/assets/bootstrap/mixins/_gradients.scss",
        "estructura/sass/assets/bootstrap/mixins/_transition.scss",
        "estructura/sass/assets/bootstrap/mixins/_clearfix.scss",
        "estructura/sass/assets/bootstrap/mixins/_navbar-align.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid-framework.scss",
        "estructura/sass/assets/bootstrap/mixins/_grid.scss",
        "estructura/sass/assets/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "estructura/sass/assets/bootstrap/_utilities.scss",
      "imports": [
        "estructura/sass/assets/bootstrap/utilities/_align.scss",
        "estructura/sass/assets/bootstrap/utilities/_background.scss",
        "estructura/sass/assets/bootstrap/utilities/_borders.scss",
        "estructura/sass/assets/bootstrap/utilities/_clearfix.scss",
        "estructura/sass/assets/bootstrap/utilities/_display.scss",
        "estructura/sass/assets/bootstrap/utilities/_embed.scss",
        "estructura/sass/assets/bootstrap/utilities/_flex.scss",
        "estructura/sass/assets/bootstrap/utilities/_float.scss",
        "estructura/sass/assets/bootstrap/utilities/_position.scss",
        "estructura/sass/assets/bootstrap/utilities/_screenreaders.scss",
        "estructura/sass/assets/bootstrap/utilities/_sizing.scss",
        "estructura/sass/assets/bootstrap/utilities/_spacing.scss",
        "estructura/sass/assets/bootstrap/utilities/_text.scss",
        "estructura/sass/assets/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/bootstrap-grid.scss",
      "imports": [
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_functions.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_variables.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_breakpoints.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid-framework.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_grid.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_display.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_flex.scss"
      ]
    },
    {
      "path": "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/bootstrap-reboot.scss",
      "imports": [
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_functions.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_variables.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_mixins.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_reboot.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_breakpoints.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_hover.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_image.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_badge.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_resize.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_screen-reader.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_size.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_reset-text.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-emphasis.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-hide.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-truncate.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_visibility.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_alert.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_buttons.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_caret.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_pagination.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_lists.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_list-group.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_nav-divider.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_forms.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_table-row.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_background-variant.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_border-radius.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_box-shadow.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_gradients.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_transition.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_clearfix.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_navbar-align.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid-framework.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/bootstrap.scss",
      "imports": [
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_functions.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_variables.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_mixins.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_root.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_reboot.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_type.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_images.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_code.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_grid.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_tables.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_forms.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_buttons.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_transitions.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_dropdown.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_button-group.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_input-group.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_custom-forms.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_nav.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_navbar.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_card.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_breadcrumb.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_pagination.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_badge.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_jumbotron.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_alert.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_progress.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_media.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_list-group.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_close.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_modal.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_tooltip.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_popover.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_carousel.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_utilities.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_print.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_breakpoints.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_hover.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_image.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_badge.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_resize.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_screen-reader.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_size.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_reset-text.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-emphasis.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-hide.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-truncate.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_visibility.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_alert.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_buttons.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_caret.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_pagination.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_lists.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_list-group.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_nav-divider.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_forms.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_table-row.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_background-variant.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_border-radius.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_box-shadow.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_gradients.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_transition.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_clearfix.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_navbar-align.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid-framework.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_float.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_align.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_background.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_borders.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_clearfix.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_display.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_embed.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_flex.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_float.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_position.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_screenreaders.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_sizing.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_spacing.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_text.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_mixins.scss",
      "imports": [
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_breakpoints.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_hover.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_image.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_badge.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_resize.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_screen-reader.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_size.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_reset-text.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-emphasis.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-hide.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-truncate.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_visibility.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_alert.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_buttons.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_caret.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_pagination.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_lists.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_list-group.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_nav-divider.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_forms.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_table-row.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_background-variant.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_border-radius.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_box-shadow.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_gradients.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_transition.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_clearfix.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_navbar-align.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid-framework.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_utilities.scss",
      "imports": [
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_align.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_background.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_borders.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_clearfix.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_display.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_embed.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_flex.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_float.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_position.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_screenreaders.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_sizing.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_spacing.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_text.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/docs.scss",
      "imports": [
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_functions.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_variables.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/_mixins.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_variables.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_nav.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_masthead.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_ads.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_content.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_skiplink.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_sidebar.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_footer.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_component-examples.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_buttons.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_callouts.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_examples.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_browser-bugs.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_brand.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_colors.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_clipboard-js.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_syntax.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_anchor.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/assets/scss/_algolia.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_breakpoints.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_hover.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_image.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_badge.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_resize.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_screen-reader.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_size.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_reset-text.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-emphasis.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-hide.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_text-truncate.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_visibility.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_alert.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_buttons.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_caret.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_pagination.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_lists.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_list-group.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_nav-divider.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_forms.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_table-row.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_background-variant.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_border-radius.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_box-shadow.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_gradients.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_transition.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_clearfix.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_navbar-align.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid-framework.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_grid.scss",
        "estructura/lib/assets/bootstrap/bootstrap-4.0.0/bootstrap-4.0.0/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "estructura/js/core.js",
      "imports": [
        "estructura/js/assets/method.js",
        "estructura/js/assets/main.js",
        "estructura/js/assets/required.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost/plantillas"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}